In [2]:
import pandas as pd

In [17]:
deaths = pd.read_csv("../merged_data/deaths_all_data.csv")
deaths

,Unnamed: 0,FIPS,AREA_SQMI,E_TOTPOP,E_HU,E_HH,E_POV,E_UNEMP,E_PCI,E_NOHSDP,...,Neuroticism,Openness,Religiosity,Risk Taking,Selflessness,Tolerance,Work Ethic,dem_pct,BEDS,first_year_deaths
0,0,1001,594.443459,55200,23315,21115,8422,1065,29372,4204,...,77.925476,78.222354,91.106719,53.333333,82.142857,70.000000,60.380952,27.018365,85.0,99
1,1,1009,644.830460,57645,24222,20600,8220,909,22656,7861,...,78.764620,78.193105,92.045455,57.603815,79.307632,64.953288,76.000000,9.569378,40.0,131
2,2,1013,776.838201,20025,10026,6708,4640,567,20430,2141,...,78.563680,76.109761,76.623924,69.058104,79.956648,67.920284,72.773953,41.789629,94.0,66
3,3,1015,605.867251,115098,53682,45033,20819,4628,24706,12620,...,79.439032,79.955121,77.918741,54.063568,76.745724,67.456150,68.292794,29.845243,552.0,305
4,4,1017,596.560643,33826,16981,13516,5531,773,22827,4383,...,76.995358,78.156771,75.891100,67.343775,79.128558,66.397785,69.554441,41.644857,115.0,117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3053,3053,48131,1793.476183,11355,5592,3511,2751,482,17864,2386,...,79.125428,78.895880,76.629575,60.576045,73.670302,64.571017,68.007770,50.959826,0.0,39
3054,3054,48505,998.411980,14369,6388,4405,5609,621,17228,3226,...,79.355639,79.572483,74.378252,77.443239,76.386871,74.001471,73.609838,47.134744,0.0,30
3055,3055,48507,1297.406535,12131,4344,3509,4150,421,13350,2719,...,78.392216,76.024682,75.848196,76.967659,77.303576,70.010162,71.121990,65.403060,0.0,40
3056,3056,48127,1328.884075,10663,4408,3309,3148,694,18121,2137,...,79.457964,79.141556,66.677924,73.140121,71.659882,68.065499,66.378831,61.756683,48.0,29
3057,3057,48247,1136.172598,5282,2523,1710,1431,229,17798,812,...,80.157542,79.708963,74.399849,74.024835,77.564505,72.456881,70.160988,58.791749,0.0,16

In [10]:
#add back lat, long, state name, county name 
df = pd.read_csv("../data_sources/time_series_cases_state.csv")
location = df[["FIPS", "Combined_Key", "Province_State","Admin2", "Lat", "Long_"]]
location.head(5)

     FIPS          Combined_Key Province_State   Admin2        Lat      Long_
0  1001.0  Autauga, Alabama, US        Alabama  Autauga  32.539527 -86.644082
1  1003.0  Baldwin, Alabama, US        Alabama  Baldwin  30.727750 -87.722071
2  1005.0  Barbour, Alabama, US        Alabama  Barbour  31.868263 -85.387129
3  1007.0     Bibb, Alabama, US        Alabama     Bibb  32.996421 -87.125115
4  1009.0   Blount, Alabama, US        Alabama   Blount  33.982109 -86.567906

In [16]:
#merge with death df
deaths_all_data_location = pd.merge(deaths, location, on="FIPS", how="left")
deaths_all_data_location

,Unnamed: 0,FIPS,AREA_SQMI,E_TOTPOP,E_HU,E_HH,E_POV,E_UNEMP,E_PCI,E_NOHSDP,...,Tolerance,Work Ethic,dem_pct,BEDS,first_year_deaths,Combined_Key,Province_State,Admin2,Lat,Long_
0,0,1001,594.443459,55200,23315,21115,8422,1065,29372,4204,...,70.000000,60.380952,27.018365,85.0,99,"Autauga, Alabama, US",Alabama,Autauga,32.539527,-86.644082
1,1,1009,644.830460,57645,24222,20600,8220,909,22656,7861,...,64.953288,76.000000,9.569378,40.0,131,"Blount, Alabama, US",Alabama,Blount,33.982109,-86.567906
2,2,1013,776.838201,20025,10026,6708,4640,567,20430,2141,...,67.920284,72.773953,41.789629,94.0,66,"Butler, Alabama, US",Alabama,Butler,31.753001,-86.680575
3,3,1015,605.867251,115098,53682,45033,20819,4628,24706,12620,...,67.456150,68.292794,29.845243,552.0,305,"Calhoun, Alabama, US",Alabama,Calhoun,33.774837,-85.826304
4,4,1017,596.560643,33826,16981,13516,5531,773,22827,4383,...,66.397785,69.554441,41.644857,115.0,117,"Chambers, Alabama, US",Alabama,Chambers,32.913601,-85.390727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3053,3053,48131,1793.476183,11355,5592,3511,2751,482,17864,2386,...,64.571017,68.007770,50.959826,0.0,39,"Duval, Texas, US",Texas,Duval,27.681846,-98.508646
3054,3054,48505,998.411980,14369,6388,4405,5609,621,17228,3226,...,74.001471,73.609838,47.134744,0.0,30,"Zapata, Texas, US",Texas,Zapata,27.001564,-99.169872
3055,3055,48507,1297.406535,12131,4344,3509,4150,421,13350,2719,...,70.010162,71.121990,65.403060,0.0,40,"Zavala, Texas, US",Texas,Zavala,28.866172,-99.760508
3056,3056,48127,1328.884075,10663,4408,3309,3148,694,18121,2137,...,68.065499,66.378831,61.756683,48.0,29,"Dimmit, Texas, US",Texas,Dimmit,28.422701,-99.756451
3057,3057,48247,1136.172598,5282,2523,1710,1431,229,17798,812,...,72.456881,70.160988,58.791749,0.0,16,"Jim Hogg, Texas, US",Texas,Jim Hogg,27.044539,-98.696819

In [18]:
deaths_all_data_location.to_csv("../merged_data/deaths_all_data_location.csv")