In [1]:
#import dependencies
import pandas as pd

In [2]:
#read in svi and social context data
svi_df = pd.read_csv('../data_sources/SVI2018_US_COUNTY.csv')
sc_df = pd.read_csv('../modified_data/social_context_FIPS.csv')

In [3]:
#set index to FIPS
svi_df = svi_df.set_index('FIPS')
svi_df.head()

,ST,STATE,ST_ABBR,COUNTY,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,M_HU,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
FIPS,,,,,,,,,,,,,,,,,,,,,
35039,35,NEW MEXICO,NM,Rio Arriba,"Rio Arriba County, New Mexico",5860.869195,39307,0,20044,71,...,0,0,0,1,-999,4160,588,10.6,1.5,32290
1001,1,ALABAMA,AL,Autauga,"Autauga County, Alabama",594.443459,55200,0,23315,71,...,0,0,0,0,0,3875,508,7.1,0.9,37301
1009,1,ALABAMA,AL,Blount,"Blount County, Alabama",644.830460,57645,0,24222,55,...,0,0,0,0,0,6303,732,11.0,1.3,40036
1013,1,ALABAMA,AL,Butler,"Butler County, Alabama",776.838201,20025,0,10026,51,...,0,0,0,0,0,2005,340,10.2,1.7,17280
1015,1,ALABAMA,AL,Calhoun,"Calhoun County, Alabama",605.867251,115098,0,53682,184,...,0,0,0,0,0,10686,796,9.4,0.7,117894

In [4]:
#drop unneeded columns
svi_df = svi_df.drop(columns = ['ST','STATE','ST_ABBR','COUNTY'])

In [5]:
#drop row with error - per data source documentation
svi_df = svi_df.drop(index = 35039)

In [6]:
svi_df.head()

,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,M_HU,E_HH,M_HH,E_POV,M_POV,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
FIPS,,,,,,,,,,,,,,,,,,,,,
1001,"Autauga County, Alabama",594.443459,55200,0,23315,71,21115,383,8422,1137,...,0,0,0,0,0,3875,508,7.1,0.9,37301
1009,"Blount County, Alabama",644.830460,57645,0,24222,55,20600,396,8220,992,...,0,0,0,0,0,6303,732,11.0,1.3,40036
1013,"Butler County, Alabama",776.838201,20025,0,10026,51,6708,274,4640,521,...,0,0,0,0,0,2005,340,10.2,1.7,17280
1015,"Calhoun County, Alabama",605.867251,115098,0,53682,184,45033,683,20819,1317,...,0,0,0,0,0,10686,796,9.4,0.7,117894
1017,"Chambers County, Alabama",596.560643,33826,0,16981,72,13516,372,5531,682,...,0,0,0,0,0,3613,476,10.8,1.4,27176

In [7]:
#prepare to drop the margin of error columns
cols = svi_df.drop(columns = ['LOCATION','AREA_SQMI'])

In [8]:
cols

,E_TOTPOP,M_TOTPOP,E_HU,M_HU,E_HH,M_HH,E_POV,M_POV,E_UNEMP,M_UNEMP,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
FIPS,,,,,,,,,,,,,,,,,,,,,
1001,55200,0,23315,71,21115,383,8422,1137,1065,257,...,0,0,0,0,0,3875,508,7.1,0.9,37301
1009,57645,0,24222,55,20600,396,8220,992,909,193,...,0,0,0,0,0,6303,732,11.0,1.3,40036
1013,20025,0,10026,51,6708,274,4640,521,567,147,...,0,0,0,0,0,2005,340,10.2,1.7,17280
1015,115098,0,53682,184,45033,683,20819,1317,4628,526,...,0,0,0,0,0,10686,796,9.4,0.7,117894
1017,33826,0,16981,72,13516,372,5531,682,773,173,...,0,0,0,0,0,3613,476,10.8,1.4,27176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48131,11355,0,5592,49,3511,224,2751,504,482,176,...,1,1,0,2,10,2656,406,24.5,3.7,9592
48505,14369,0,6388,26,4405,257,5609,1017,621,198,...,1,0,0,2,10,4206,484,29.3,3.4,10924
48507,12131,0,4344,20,3509,138,4150,694,421,201,...,1,1,0,2,10,2194,354,18.4,3.0,10672
48127,10663,0,4408,36,3309,230,3148,774,694,234,...,1,1,0,2,11,2345,539,22.2,5.1,8229
48247,5282,0,2523,206,1710,200,1431,340,229,150,...,1,1,0,2,11,988,262,18.8,5.0,4856

In [9]:
# select all column names that start with an M - these are margin of error columns
col_list = cols.columns.to_list()
col_series = pd.Series(col_list)
drop_str = r'^M+.'
drop_form = col_series.str.contains(drop_str)
drop_col = col_series[drop_form].to_list()

In [10]:
#drop the margin of error columns
svi_df = svi_df.drop(columns = drop_col)
svi_df

,LOCATION,AREA_SQMI,E_TOTPOP,E_HU,E_HH,E_POV,E_UNEMP,E_PCI,E_NOHSDP,E_AGE65,...,F_MUNIT,F_MOBILE,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,EP_UNINSUR,E_DAYPOP
FIPS,,,,,,,,,,,,,,,,,,,,,
1001,"Autauga County, Alabama",594.443459,55200,23315,21115,8422,1065,29372,4204,8050,...,0,0,0,0,0,0,0,3875,7.1,37301
1009,"Blount County, Alabama",644.830460,57645,24222,20600,8220,909,22656,7861,10233,...,0,0,0,0,0,0,0,6303,11.0,40036
1013,"Butler County, Alabama",776.838201,20025,10026,6708,4640,567,20430,2141,3806,...,0,0,0,0,0,0,0,2005,10.2,17280
1015,"Calhoun County, Alabama",605.867251,115098,53682,45033,20819,4628,24706,12620,19386,...,0,0,0,0,0,0,0,10686,9.4,117894
1017,"Chambers County, Alabama",596.560643,33826,16981,13516,5531,773,22827,4383,6409,...,0,0,0,0,0,0,0,3613,10.8,27176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48131,"Duval County, Texas",1793.476183,11355,5592,3511,2751,482,17864,2386,2025,...,0,0,1,1,0,2,10,2656,24.5,9592
48505,"Zapata County, Texas",998.411980,14369,6388,4405,5609,621,17228,3226,1999,...,0,1,1,0,0,2,10,4206,29.3,10924
48507,"Zavala County, Texas",1297.406535,12131,4344,3509,4150,421,13350,2719,1665,...,0,0,1,1,0,2,10,2194,18.4,10672
48127,"Dimmit County, Texas",1328.884075,10663,4408,3309,3148,694,18121,2137,1734,...,0,0,1,1,0,2,11,2345,22.2,8229
48247,"Jim Hogg County, Texas",1136.172598,5282,2523,1710,1431,229,17798,812,932,...,0,0,1,1,0,2,11,988,18.8,4856

In [11]:
sc_df.head()

,IBRC_Geo_ID,Agreeableness,Belief In Science,Collectivism,Conflict Awareness,Conscientiousness,Empathy,Employment Rate,Entrepreneurship,Extraversion,...,Hopefulness,Income Mobility,Income Per Capita,Neuroticism,Openness,Religiosity,Risk Taking,Selflessness,Tolerance,Work Ethic
0,1001,86.279655,70.833333,57.142857,63.444323,84.113820,83.308726,94.7,12.968300,86.112526,...,91.163142,-0.209446,26168.0,77.925476,78.222354,91.106719,53.333333,82.142857,70.000000,60.380952
1,1003,85.603337,63.268161,67.948815,63.751017,83.108459,78.187835,94.6,13.748191,87.033806,...,82.484017,-0.118444,28069.0,77.232120,80.086368,71.771566,67.272980,75.586018,66.983549,70.972246
2,1005,87.711609,63.046939,70.099756,51.165707,83.933892,81.289184,91.4,13.026820,86.056212,...,61.927181,-0.593941,17249.0,80.375206,78.783778,73.657368,76.066481,78.753019,65.170377,68.704105
3,1007,84.830261,63.262028,72.034797,61.796095,82.099210,81.212388,93.4,6.984127,85.527388,...,85.258871,-0.198811,18988.0,80.813736,77.837027,69.974652,75.136154,76.929754,69.859503,67.931677
4,1009,85.548096,33.333333,80.000000,63.136502,83.165976,81.521844,94.5,11.572700,87.164757,...,79.492703,0.298376,21033.0,78.764620,78.193105,92.045455,57.603815,79.307632,64.953288,76.000000

In [12]:
#set index to match FIPS
sc_df = sc_df.set_index('IBRC_Geo_ID')
sc_df.head()

,Agreeableness,Belief In Science,Collectivism,Conflict Awareness,Conscientiousness,Empathy,Employment Rate,Entrepreneurship,Extraversion,Gender Equality,Hopefulness,Income Mobility,Income Per Capita,Neuroticism,Openness,Religiosity,Risk Taking,Selflessness,Tolerance,Work Ethic
IBRC_Geo_ID,,,,,,,,,,,,,,,,,,,,
1001,86.279655,70.833333,57.142857,63.444323,84.113820,83.308726,94.7,12.968300,86.112526,77.063492,91.163142,-0.209446,26168.0,77.925476,78.222354,91.106719,53.333333,82.142857,70.000000,60.380952
1003,85.603337,63.268161,67.948815,63.751017,83.108459,78.187835,94.6,13.748191,87.033806,69.016011,82.484017,-0.118444,28069.0,77.232120,80.086368,71.771566,67.272980,75.586018,66.983549,70.972246
1005,87.711609,63.046939,70.099756,51.165707,83.933892,81.289184,91.4,13.026820,86.056212,69.323158,61.927181,-0.593941,17249.0,80.375206,78.783778,73.657368,76.066481,78.753019,65.170377,68.704105
1007,84.830261,63.262028,72.034797,61.796095,82.099210,81.212388,93.4,6.984127,85.527388,68.844059,85.258871,-0.198811,18988.0,80.813736,77.837027,69.974652,75.136154,76.929754,69.859503,67.931677
1009,85.548096,33.333333,80.000000,63.136502,83.165976,81.521844,94.5,11.572700,87.164757,64.585114,79.492703,0.298376,21033.0,78.764620,78.193105,92.045455,57.603815,79.307632,64.953288,76.000000

In [13]:
#merge dataframes by index
merged_df = svi_df.merge(sc_df, how = 'left', left_index=True, right_index=True, sort=True)

In [14]:
merged_df.columns.to_list()

['LOCATION',
 'AREA_SQMI',
 'E_TOTPOP',
 'E_HU',
 'E_HH',
 'E_POV',
 'E_UNEMP',
 'E_PCI',
 'E_NOHSDP',
 'E_AGE65',
 'E_AGE17',
 'E_DISABL',
 'E_SNGPNT',
 'E_MINRTY',
 'E_LIMENG',
 'E_MUNIT',
 'E_MOBILE',
 'E_CROWD',
 'E_NOVEH',
 'E_GROUPQ',
 'EP_POV',
 'EP_UNEMP',
 'EP_PCI',
 'EP_NOHSDP',
 'EP_AGE65',
 'EP_AGE17',
 'EP_DISABL',
 'EP_SNGPNT',
 'EP_MINRTY',
 'EP_LIMENG',
 'EP_MUNIT',
 'EP_MOBILE',
 'EP_CROWD',
 'EP_NOVEH',
 'EP_GROUPQ',
 'EPL_POV',
 'EPL_UNEMP',
 'EPL_PCI',
 'EPL_NOHSDP',
 'SPL_THEME1',
 'RPL_THEME1',
 'EPL_AGE65',
 'EPL_AGE17',
 'EPL_DISABL',
 'EPL_SNGPNT',
 'SPL_THEME2',
 'RPL_THEME2',
 'EPL_MINRTY',
 'EPL_LIMENG',
 'SPL_THEME3',
 'RPL_THEME3',
 'EPL_MUNIT',
 'EPL_MOBILE',
 'EPL_CROWD',
 'EPL_NOVEH',
 'EPL_GROUPQ',
 'SPL_THEME4',
 'RPL_THEME4',
 'SPL_THEMES',
 'RPL_THEMES',
 'F_POV',
 'F_UNEMP',
 'F_PCI',
 'F_NOHSDP',
 'F_THEME1',
 'F_AGE65',
 'F_AGE17',
 'F_DISABL',
 'F_SNGPNT',
 'F_THEME2',
 'F_MINRTY',
 'F_LIMENG',
 'F_THEME3',
 'F_MUNIT',
 'F_MOBILE',
 'F_CROWD',
 'F_NOVEH',
 'F_GROUPQ',
 'F_THEME4',
 'F_TOTAL',
 'E_UNINSUR',
 'EP_UNINSUR',
 'E_DAYPOP',
 'Agreeableness',
 'Belief In Science',
 'Collectivism',
 'Conflict Awareness',
 'Conscientiousness',
 'Empathy',
 'Employment Rate',
 'Entrepreneurship',
 'Extraversion',
 'Gender Equality',
 'Hopefulness',
 'Income Mobility',
 'Income Per Capita',
 'Neuroticism',
 'Openness',
 'Religiosity',
 'Risk Taking',
 'Selflessness',
 'Tolerance',
 'Work Ethic']

In [15]:
#check for null values
missing_df = merged_df[merged_df.isnull().any(axis=1)]

In [18]:
merged_df.to_csv('../modified_data/svi_social_context_merged')